body {
    background-image: url("./cyber5.jpg");
    background-size: cover;
}

iframe {
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0, 191, 255, 0.39), 0 15px 12px rgba(0, 191, 255, 0.048);
    position: relative;
    z-index: 1;
    top: 5%;
    left: 38%;
    margin: auto;
}

.content {
    width: 80%;
    z-index: 2;
    top: 10%;
    left: 1%;
    right: 5%;
    bottom: 5%;
    margin-top: 10%;
    margin-left: -10%;
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
    background: rgba(205, 206, 255, 0.3);
    text-align: center;
    color: #222;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* box-shadow: 0 19px 38px rgba(0, 191, 255, 0.911), 0 15px 12px rgba(0, 191, 255, 0.22); */
    box-shadow: 0 19px 38px rgba(0, 191, 255, 0.39), 0 15px 12px rgba(0, 191, 255, 0.048);
    position: relative;
    height: auto;
    min-height: 100% !important;
}