body {
    /* margin: auto;
    padding: 0;
    font-family: sans-serif;*/
    background-image: url("./cf.jpg");
    background-repeat: repeat;
    /* text-align: center;
    color: dodgerblue;
    border: dodgerblue 2px outset;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 10px;
    */
}

iframe {
    border: dodgerblue 2px ridge;
    border-radius: 25px;
    box-shadow: 2px 2px 1px #222;
    position: relative;
    /* width: 0%; */
    /* Set your desired with */
    z-index: 1;
    /* Make sure its above other items. */
    top: 10%;
    left: 38%;
    /* right: 30%; */
    /* bottom: 5%; */
    margin: auto;
    /* padding: 20px; */
}

.content {
    /* position: absolute; */
    width: 80%;
    /* Set your desired with */
    z-index: 2;
    /* Make sure its above other items. */
    top: 5%;
    left: 1%;
    right: 5%;
    bottom: 5%;
    margin-top: 10%;
    /* Changes with height. */
    margin-left: -10%;
    /* Your width divided by 2. */
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
    background-color: lightgray;
    text-align: center;
    color: #222;
    border: #222 1px groove;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 3px 3px 1px dodgerblue;
    position: relative;
    height: auto;
    min-height: 100% !important;
    /* flex-grow: 1; */
}

p.imageTitle {
    color: #000000;
}